.header-sec{
	
	background: get-cl(tc-6);
	border-top: 4px solid get-cl(sc-1);
	
	.header-sec__title{
		
		@extend .mg-top-sp-10;
		
	}/* .header-sec__title End */
	
	.header-sec__links{
		
		.navbar-default{
			background: transparent;
			border-color: transparent;
			text-align: right;
		}/* .navbar-default End */
		
		.nav{
			
			margin: 21px 0 20px;
			
			ul{
			    margin: 0;
			    padding: 0;
			    list-style: none;
			    
			    > li, > li > a{
			    	display: inline;
			    	vertical-align: top;
			    }/* > li > a End */
			    
			    > li > a, > li > a:hover, > li > a:focus{
			    	margin: 0 10px;
			    	@extend .fs-12-ff-op-rg;
			    	@extend .cl-tc-1;
			    }/* > li > a End */
			    
			}/* ul End */
			
		}/* .nav End */
		
	}/* header-sec__links End */


	.mobile-icon{

		.tab-navigation{

			padding: 0;
			margin: 0;
			margin-top: 5px;
			
			li{

				float: left;
				position: relative;
				
				a{

					font-size: get-fs(fs-24);
					color: get-cl(pc-1);
					float: left;
					//width: 50px;
					height: 50px;
					line-height: 50px;
					text-align: center;
					text-decoration: none;
					margin-left: 10px;
					
					span{

						line-height: 50px;
						height: 50px;
						display: block;
						text-align: center;

					}

					.close-icon{

						display: none;

					}

				} /* a end */
				
				&.menu-active{

					@include border-radius(0);
					//@include box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.1));

					.close-icon{

						display: block;

					}

					.hamburger{

						color: get-cl(pc-1);

						.main-icon{display: none;}

					}
					
				} /* menu-active end */
				
			} /* li end */
			
		} /* tab-navigation{ */

	} /* .mobile-icon end */
	
}/* .header-sec End */

/*------------------------------------------
    Mobile
--------------------------------------------*/
@media (max-width: 1024px) {
	.header-sec{
	
		border-bottom: 4px solid get-cl(pc-1);

	} /* .header-sec end */
}
