.lexicon{

    @import "aui/lexicon/atlas";

    * {@include transition(none);}

    input[type="radio"], input[type="checkbox"]
    {
        visibility: visible;
        @include opacity(1);
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        -ms-appearance: checkbox;
        -o-appearance: checkbox;
        z-index: 0;
        position: relative;
        height: auto;
        width: auto;
    }

    .management-bar-default, .navbar-default {
        background-color: get-cl(tc-6);
        border-color: get-cl(sc-4);
    }

    .management-bar-container .management-bar .form-group {
        margin-bottom: 0;
    }

    .management-bar-secondary-bar{
        position: absolute;
    }

    .management-bar-default .btn-default,
    .management-bar-default .nav > li > .btn-default {
        background-color: transparent;
        border-color: get-cl(sc-6);
        color: get-cl(pc-1);
    }

    .management-bar-default .btn-default:active,
    .management-bar-default .btn-default.active,
    .management-bar-default .nav > li > .btn-default:active,
    .management-bar-default .nav > li > .btn-default.active {
        background-color: get-cl(sc-6);
        border-color: get-cl(sc-6);
        color: get-cl(pc-1);
    }

    .secondary-bar-open .management-bar-secondary-bar {
        position: relative;
    }

    .secondary-bar-open .management-bar:first-child {
        position: absolute;
    }

    .breadcrumb {
        margin-bottom: 0;
        margin-top: 20px;
        padding: 0 15px;
    }

    .navbar-default.collapse-basic-search .basic-search .btn-default,
    .navbar-default.collapse-basic-search .basic-search .form-control {
        background-color: transparent;
    }

    .card{
        padding: 0;
    }

    .splitter{
        background-color: get-cl(sc-4);
        color: get-cl(pc-1);
        @include border-radius(3px);
    }

    .tabular-list-group .list-group-item {
        height: auto;
    }

    @import "searchcontainer";              /* search container css */

    @import "table";              			/* table css */

    table tr.splitter > td{
        padding: 0;
    }

    table tr.splitter, table tr.splitter .splitter{
        @include border-radius(0);
        background-color: get-cl(sc-6);
        @include box-shadow(none);
    }

    .table-list {
        color: inherit;
    }

    .table-list a{
        color: get-cl(pc-4);
        text-decoration: none;
    }

    .dropdown-menu{
        border: 1px solid get-cl(tc-3);
    
        ul{
            margin: 0;
            padding: 0 0 0 0;
            border: 0;
        }
    
        li{
    
            a{
                padding: 6px 10px;
                color: get-cl(tc-1);
                text-decoration: none;
    
                &:hover, &:focus{
                    color: get-cl(pc-1);
                    background: get-cl(sc-5);
                    text-decoration: none;
                } /* &:hover, &:focus end */
    
            } /* a */

            &.active{

                a, a:hover, a:focus{
                    color: get-cl(pc-1);
                    background: get-cl(sc-5);
                    text-decoration: none;
                }
            }
    
        } /* li end */
    
    } /* .dropdown-menu end */


    .scheduler-view-table-header-day {
        text-align: center;
    }

    .scheduler-base-content .scheduler-base-views {
        float: right;
        width: auto;
    }

    .scheduler-base-controls .btn-group .calendar-add-event-btn {
        margin-right: 3px;
    }

    .scheduler-base-controls .btn-group button:not(:last-child) {
        border-right: 2px;
    }

    .scheduler-base-hd .scheduler-base-views button:not(:last-child) {
        border-right: 2px;
    }

    .container-fluid-1280{
        max-width: 100%;
    }
    
} /* .lexicon end */